.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
coverage/
android/.gradle/
android/app/build/
android/local.properties
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
*.iml
